:root {
    --background-color: #121212;
    --text-color: #E0E0E0;
    --input-bg: #2E2E2E;
    --input-border: #555555;
    --input-text: #FFFFFF;
    --slider-track: #333333;
    --slider-highlight: #BB86FC;
    --button-bg-submit: #03DAC5;
    --button-bg-clear: #555555;
    --button-text: #FFFFFF;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #c2c2c2; */
    background-color: #bdbfc1;
    /* background: linear-gradient(35deg ,#bdbfc1 , rgb(197, 197, 99),rgb(188, 113, 126)); */
    /* background-image: url(img/bg2.jpg); */
    background-image: url(img/bg3.jpg);
    transition: background-image 0.8s ease, color 0.8s ease;
    background-size: cover;
    min-height: 100vh;  
}
.form-box {
    display: flex;
    /* background-image: url(img/bg2.jpg); */
    transition: background-image 0.8s ease, color 0.8s ease;
    background-size: cover;
    color: black;
    padding: 10px 30px;
    text-align: center;
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}


.form-details{
    display: flex;
    width: 70% ;
    height: 670px;
    flex-direction: column;
    gap: 14px;
    overflow-y: scroll;
    padding-right: 10px;
}

/* change scroll bar */

/* width */
.form-details::-webkit-scrollbar {
    width: 6px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  /* Track */
.form-details::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
.form-details::-webkit-scrollbar-thumb {
    background: #888; 
    cursor: pointer;
    border-radius: 12px;
  }
  
  /* Handle on hover */
.form-details::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.form-details input{
    border: 2px solid rgb(122, 122, 130);
    padding: 10px 20px;
    outline: 0;
    border-radius: 20px;
    width: 100%;
    transition: all 0.8s ease;
    background:  whitesmoke;
}
.form-details input:focus{
    border: 2px solid #ea5d45;
    padding: 10px 24px;
    font-size: 15px;
}

.form-details .title{
    font-family: "Jim Nightshade", serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
}
.form-details .box-text{
    font-weight: 500;
    font-size: 16px;
    color: blue;
    text-align: left;
    margin: 3px;
    margin-left: 12px;
}
.form-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.form-img img{
    align-items: center;
    margin-top: 230px;
    width: 100%;
    height: 100%;
}

.form-details .feedback-labels {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: blue;
}

.form-details .feedback-labels span {
    text-align: center;
    flex: 1;
}


.slider {
    cursor: pointer;
    margin-bottom: 50px;
}


.form-details .feedback-text textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        font-weight: 16px;
        resize: none;
        outline: none;
}
.form-details .feedback-text textarea:focus{
    border-color: #e1573f;
}

.button-group {
    position: absolute;
    bottom: 10px;
    box-sizing: border-box; 
}

.button-group .submit-btn{
    left: 10%;
    background-color: #ff745d;
    color: white;
    border: none;
    width: 120px; 
    height: 45px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

.button-group .submit-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -2;
    background: #ff745d;
}

.button-group .submit-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: #ce351a; 
    transition: all 0.3s;
    z-index: -1;
}
.button-group .submit-btn:hover {
    color: #fff;
  }
  
  .button-group .submit-btn:hover::before {
    width: 100%; 
  }


.button-group .clear-btn{
    left: calc(50% - 50px);
    background-color: rgb(122, 122, 130);
    color: white;
    border: none;
    width: 120px; 
    height: 45px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

.button-group .clear-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -2;
    background-color: #395a64; 
}

.button-group .clear-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background: rgb(122, 122, 130);
    transition: all 0.3s;
    z-index: -1;
}
 .button-group .clear-btn:hover {
    color: #fff;
  }
  
 .button-group .clear-btn:hover::before {
    width: 100%; 
  }

.form-details .feedback-message {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    color: #ff745d;
    font-weight: bold;
    padding: 12px 20px;
    background: whitesmoke;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    animation: popup 1.5s ease-in-out forwards;
}

/* code for dark mode switch */

#darkModeToggle{
    position: absolute;
    right: 20px;
    top: 30px;
    border: 0;
    outline: 0;
    padding: 8px 12px;
    border-radius: 20px;
    background: #1a1c23;
    color: whitesmoke;
    cursor: pointer;
}
body.dark-mode {
    background-color: var(--background-color);
    color: whitesmoke;
}
body.dark-mode #darkModeToggle {
    background: #fff;
    color: #000;
}

body.dark-mode .form-box{
    color: whitesmoke;
    /* background-image: url(img/dark-bg2.jpg); */
    /* background: #221f1f;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px; */
}
body.dark-mode .container{
    /* background: #1a1c23; */
    /* background-image: url(img/dark-bg2.jpg); */
    background-image: url(img/darkbg3.jpg);
    transition: background-image 0.8s ease, color 0.8s ease;
}
  
body.dark-mode input,body.dark-mode textarea {
    background-color: var(--input-bg);
    color: var(--input-text);
}
body.dark-mode .form-details .feedback-labels{
    color: #fff;
}
body.dark .form-details .feedback-text textarea {
    background: var(--input-bg);
}

body, input, textarea, button, .slider {
    transition: background-color 0.8s ease, color 0.8s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
@keyframe popup{
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.shake {
    animation: shake 0.3s ease-in-out;
    border-color: #e74c3c; /* Highlight error in red */
}
.error{
    color: red;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}



@media only screen and (max-width: 880px) {
    .form-details .title{
        font-size: 30px;
    }
    .form-details .name-box{
        margin-top: -20px;
    }
    .rating-box{
        margin-bottom: 100px;
    }
    .form-img{
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 652px) {
    .form-details{
        width: 100%;
    }
    .container{
        background-image: url(img/mobile-bg.jpg);
    }
    body.dark-mode .container{
        background-image: url(img/mobile-dark-bg.jpg);
    }

    .form-box{
        border-radius: 10px;
    }
    .form-img{
        display: none;
    }
}